// Resets, Clearfix, etc
@import "./partials/_reset";
@import "./partials/_clearfix";
// Variables
$global-dark: #222;
$global-light: orange;
$global-bright: white;
$global-padding: 20px;
$breakpoint-mobile-small: 600px;
$breakpoint-mobile-large: 900px;


// Mixins
@mixin block_font($block_font_size: 25px, $block_font_color: $dark){
  font-size: $block_font_size;
  color: $block_font_color;
}
// Styles
body{
  background-color: $global-dark;
  text-align: center;
  color: $global-dark;
}

@media screen and (min-width: $breakpoint-mobile-small) and (max-width: $breakpoint-mobile-large){
  body {
    background-color: $global-light;
    text-align: center;
    color: $global-light;
  }
}

@media screen and (max-width: 599px){
  body {
    background-color: $global-light;
    text-align: center;
    color: $global-bright;
  }
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
}

h2{

}


.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: $global-light;
  margin-bottom: 20px;
  padding: 20px;
}

@media screen and (min-width: $breakpoint-mobile-small) and (max-width: $breakpoint-mobile-large){
  .block_family li{
    background-color: $global-bright;
    margin-bottom: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 599px){
  .block_family li{
    background-color: $global-dark;
    margin-bottom: 20px;
    padding: 20px;
  }
}